@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:wght@400;900&family=Lobster&family=Nabla&display=swap');

html {
  font: 18px 'Fira Sans', sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-color: lightblue;
}

header {
  color: #eee;
  background-color: #222;

  h1 {
    font: 4rem 'Lobster';
  }
}

main {
  background-color: lightblue;

  .SearchForm {
    border: 3px solid white;
    border-radius: 1rem;
    background-color: rgb(255, 242, 219);
  }

  .Results-Data, .Results-Map {
    border: 2px solid gray;
    background-color: rgb(255, 242, 219);
  }

}



footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #aaa;
}