@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:wght@400;900&family=Lobster&family=Nabla&display=swap');


@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

html {
  font: 18px 'Fira Sans', sans-serif;
}

$primary: rgb(204, 242, 255);
$secondary: rgb(255, 247, 230);
$tertiary: rgb(89, 34, 89);
$borders: rgb(39, 106, 133);
$text-pri: #eee;
$footer-ht: 20vh;

.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-color: $primary;
}

header {
  color: $text-pri;
  background-color: #222;
  border-bottom: 1rem solid $tertiary;

  h1 {
    font: 4rem 'Lobster';
    background-image: linear-gradient(60deg, #52bbd6 40%, #ebf8e1 50%, #f69d3c 60%);
    background-clip: text;
    color: transparent;
  }
}

main {
  // background-color: lightblue;

  .SearchForm {
    border: 2px solid $borders;
    border-radius: 0.5rem;
    background-color: $secondary;
  }

  .Results-item {
    border: 2px solid $borders;
    border-radius: 0.2rem;
    background-color: $secondary;
  }

  .Carousel {
    background-color: gray;
  }

  .weather-block {
    height: 12rem;
    background-color: rgb(27, 57, 98);
    color: $text-pri;
    overflow-y: scroll;
  }

  :where(.Movies, .Dining) > div {
    max-height: 90vh;
    overflow-y: scroll;

    > div:nth-of-type(even) {
      background-color: shade($secondary, 10%);
    }
  }

}

.footer {
  height: calc($footer-ht + 3rem);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-ht;
  background-image: linear-gradient(to bottom, $primary, #f9f9ed 50%, #ff97e1 70%, #f69d3c);
}